.questionContainer {
	/*max-height: 60%;*/
 	position: relative;
 	top:100px;
}

.indexQuestion {
	/*margin-top: 0px;*/
	padding-top: 50px;
	padding-bottom: 50px;
}

.indexQuestion img{
	/*margin: 30px;*/
	/*margin-bottom: 50px;*/
	padding-right:0;
	padding-left:0;
}

/* for Log In header */
h2 {
	text-align: center;
	color: #ffffff;
}

/* email and password */
label {
	color: #ffffff;
}