#singleQuestionContainer {
	/*padding-bottom:50px;*/
	top:50px;

	padding:20px;
	background-color: #EAEAEA;
	/*height:100%;*/
	width:100%;
	overflow-y: scroll;
	position: fixed;
	bottom:50px;
	/*background-color: #f8f8f8;*/
}

.profileContainer {
	top:50px;
	
	padding:20px;
	background-color: #EAEAEA;
	/*height:100%;*/
	width:100%;
	overflow-y: scroll;
	position: fixed;
	bottom:40px;
}

.askQuestionContainer {
	top:50px;
	
	padding:20px;
	
	/*height:100%;*/
	width:100%;
	overflow-y: scroll;
	position: fixed;
	bottom:40px;
}

#indexContent {
	/*max-height: 60%;*/
 	position: relative;
 	top:60px;
}

#questionContainer {
	/*padding-bottom:50px;*/
	top:50px;
	padding:20px;
	background-color: #EAEAEA;
	/*height:100%;*/
	width:100%;
	overflow-y: scroll;
	position: fixed;
	bottom:40px;
	/*background-color: #f8f8f8;*/
}
#questionContainer2 {
	/*padding-bottom:50px;*/
	top:50px;
	padding:0px;
	background-color: #EAEAEA;
	/*height:100%;*/
	width:100%;
	overflow-y: scroll;
	position: fixed;
	bottom:40px;
	/*background-color: #f8f8f8;*/
}

.loginContainer {

	padding-top:30px;
	height:100%;
	width:100%;
	/*overflow-y: scroll;*/
	position: fixed;
	/*bottom:50px;*/
	background-color:#09091a;
}
/*.contentContainer {
	top:50px;
	padding:20px;
	height:100%;
	width:100%;
	overflow-y: scroll;
	position: fixed;
	bottom:50px
}*/

.indexQuestion {
	/*margin-top: 0px;*/
	padding-top: 0px;
	padding-bottom: 70px;
}
.indexQuestion2 {
	/*margin-top: 0px;*/
	padding-top: 10px;
	padding-bottom: 10px;
}

.indexQuestion img{
	/*margin: 30px;*/
	/*margin-bottom: 50px;*/
	padding-right:0;
	padding-left:0;
	max-width: 50px;
	max-height: 90px;
}

.indexQuestion2 img{
	/*margin: 30px;*/
	/*margin-bottom: 50px;*/
	padding-right:0;
	padding-left:0;
	max-width: 50px;
	max-height: 90px;
}

.glyphicon-ok-sign {
	font-size:18px;
	color: #268509;

}
.glyphicon-question-sign {
	font-size:18px;
	color: #FFB925;

}
.glyphicon-remove-sign {
	font-size:18px;
	color: #8C1A07;

}

#askAnswerContainer a {
	margin-top: 15px;
	min-width: 40%;
}

#myQuestionTitle {
	text-align: center;
	padding-bottom: 30px;
}

/* for Log In header */
h2 {
	text-align: center;
	color: #ffffff;
}
#singleQuestionContainer h2 {
	text-align: center;
	color: #000000;
}

/* email and password */
label {

	color: #ffffff;
/*≥	max-width: 50px;*/
}

#myQuestionTitle {
	text-align: center;
	padding-bottom: 30px;
}



/* below is the css for footer */

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.navIcon {
  color:#777;
  font-size: 30px;
  padding-top: 14px;
  	-webkit-transition: ease-in-out 0.3s; /* Safari */
    transition: ease-in-out: 0.3s;
}

.navIcon:hover {
	color:black;
	cursor: pointer;
  	-webkit-transition: ease-in-out 0.3s; /* Safari */
    transition: ease-in-out: 0.3s;
}

#submitButtonContainer{
	max-width: 100%;
	max-height: 50px;
	justify-content: center;
}


/**/


/* for profile page */
