<div id="indexContent" ng-controller="answerCtrl">
			
	<div id="questionContainer2" class="container well center-block">
		<md-list>
			<md-list-item ng-repeat="object in answerQuestions track by $index" ng-click="goToQuestion('/questions/' + object.id)">
				<br>
				<!-- <a  href="#/questions/{{object.id}}" style="color:#000000"> -->
				<div id="question1" class="indexQuestion2">
					<img class="col-xs-3 img-circle" ng-src="{{object.userImage}}">
					<h class="col-xs-9" style="line-height:1.5">
						<span class="badge" style="{{badgeChanger(object.status)}}" aria-hidden="true">{{object.status}}</span>  <br>Q: {{object.question}}
					</h>
					<!-- <a class="{{buttonTypeChanger(object.status)}} col-xs-2" href="#/questions/{{object.id}}" role="button">{{buttonTextChanger(object.status)}}</a>
 -->
				</div>
				<!-- </a> -->
				<md-divider></md-divider>
			</md-list-item>
			
		</md-list>
			
		
	</div>
</div>