<div id="questionForm" ng-controller="askCtrl" class="container" style="padding-top: 80px" >

	

	<div class="container"id="askQuestionContainer">
		<div id="questionTypeFormContainer">
			<md-input-container style="width: 100%">
				<label>What are you trying to decide?</label>
				<textarea md-maxlength="100" ng-maxlength="100" max-length="100" ng-model="newObj.question" style="width: 100%"required></textarea> 
			</md-input-container>
		</div>
		<div class="optionsContainer" >
			<div id="optionsHeader">	<!-- Maybe have some hiding feature after options selected-->
				<h5>Do you have options to choose from?</h5>
			</div>
			
			
			<div >
				<md-chips
        ng-model="newObj.options"
        placeholder="Enter options here"
        delete-button-label="Remove option"
        delete-hint="Press delete to remove option"
        secondary-placeholder="+Option"></md-chips>
			</div>

		</div>		
		<br>
		<br>
		<br>

		<div id="submitButtonContainer">
			<a class="btn btn-default col-xs-4" role="button" href="#/">Cancel<a/>
			<a class="btn btn-info col-xs-4" role="button" href="#/" style="float:right" ng-click="submit()">Submit<a/>	
		</div>
	</div>
</div>