<div id="indexContent" ng-controller="homeCtrl">
			
	<div id="questionContainer2" class="center-block">
		 <md-list-item ng-repeat="object in homeQuestions track by $index" ng-click="goToQuestion('/questions/' + object.id)">
				<br>
				<!-- <a  href="#/questions/{{object.id}}" style="color:#000000"> -->
				<div id="question1" class="indexQuestion2">
					<img class="col-xs-2 img-circle" ng-src="{{object.userImage}}">
					<h class="col-xs-10" style="line-height:1.5">
						 Q: {{object.question}}
					</h>
					<!-- <a class="{{buttonTypeChanger(object.status)}} col-xs-2" href="#/questions/{{object.id}}" role="button">{{buttonTextChanger(object.status)}}</a>
 -->
				</div>
				<!-- </a> -->
				<md-divider></md-divider>
			</md-list-item>		
	</div>

</div>

			