
		<div class="loginContainer" ng-controller="decisionmakerCtrl">
		<div class="container">
  			<h2>Welcome to DecisionMaker™</h2>
  			<form role="form">
   				<div class="form-group">
   			    	<label for="email">Email:</label>
      				<input type="email" ng-model="loginuser.email" class="form-control" id="email" placeholder="Enter email">
    			</div>
    			<div class="form-group">
     		 		<label for="pwd">Password:</label>
      				<input type="password" ng-model="loginuser.password" class="form-control" id="pwd" placeholder="Enter password">
    			</div>
    			<div class="checkbox">
      				<label style="display: inline"><input type="checkbox"> Remember me </label>
    			</div>
    			<a href="#/signup" class="btn btn-default" role="button">Sign Up</a>
          <input class="btn btn-info" role="button" style="width:76px" value="Login" ng-click="logIn()">
          <div ng-show="badUser">
              <span style="color: #ff0000">You have entered an invalid email/password.</span>
          </div>
  			</form>
		</div>
		</div>